@font-face {
  src: url(/resources/font/BasisGrotesqueArabicPro-Regular.ttf);
  font-family: basis;
  font-weight: 200;
}
@font-face {
  src: url(/resources/font/BasisGrotesqueArabicPro-Medium.ttf);
  font-family: basis;
  font-weight: 400;
}
@font-face {
  src: url(/resources/font/BasisGrotesqueArabicPro-Bold.ttf);
  font-family: basis;
  font-weight: 600;
}
@font-face {
  src: url(/resources/font/BasisGrotesqueArabicPro-Black.ttf);
  font-family: basis;
  font-weight: 800;
}
body {
  background-color: #f15700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circleblur {
  width: 100vw;
  height: 100vw;
  background: #121212;
  position: absolute;
  top: 0;
  border-radius: 100000000px;
  top: -100vw;
  opacity: 0;
  filter: blur(60px);
}

.headerblur {
  width: 100vw;
  height: 120px;
  background: linear-gradient(180deg, #121212 0%, rgba(241, 87, 0, 0) 100%);
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  opacity: 0.8;
}

.enteringPill {
  cursor: pointer;
  margin: auto;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  margin-top: 44vh;
  border: 2px solid rgba(255, 255, 255, 0.2549019608);
  padding: 16px 24px;
  transform-style: preserve-3d;
  transform: perspective(1000);
  z-index: 1000;
  border-radius: 40px;
}
.enteringPill:hover {
  background-color: white;
  transition: all 0.3s ease;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.04), 0 8px 4px rgba(0, 0, 0, 0.04), 0 16px 8px rgba(0, 0, 0, 0.04), 0 32px 16px rgba(0, 0, 0, 0.02);
}
.enteringPill:hover .logo-text {
  color: #02060c !important;
}
.enteringPill:hover .star-l {
  filter: invert(1);
}
.enteringPill:hover .star-r {
  filter: invert(1);
}
.enteringPill .inner {
  display: flex;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transform: translateZ(12px);
}
.enteringPill .inner .logo-text {
  color: white;
  font-family: basis;
  font-size: 28px;
  letter-spacing: -1px;
}
.enteringPill .inner .star-l {
  transform: scale(0.7);
}
.enteringPill .inner .star-r {
  transform: scale(0.7);
}
@media (max-width: 470px) {
  .enteringPill {
    padding: 8px 16px;
    gap: 2px;
  }
  .enteringPill .logo-text {
    font-size: 22px !important;
  }
  .enteringPill .star-l {
    transform: scale(0.65) !important;
  }
  .enteringPill .star-r {
    transform: scale(0.65) !important;
  }
  .enteringPill:hover .logo {
    background-color: none;
    border: 2px solid rgb(35, 35, 35);
  }
  .enteringPill:hover .star-l {
    filter: invert(0);
  }
  .enteringPill:hover .star-r {
    filter: invert(0);
  }
}

.content {
  text-align: left;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: none;
  transform: translateY(-22vh);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.content .body {
  margin-bottom: 80px;
}
.content .body .heading {
  font-family: basis;
  font-size: 16px;
  letter-spacing: -0.3px;
  opacity: 1;
  color: white;
  font-weight: 600;
}
.content .body .subheading {
  margin-top: 8px;
  font-family: basis;
  font-size: 16px;
  line-height: 160%;
  font-weight: 200;
  opacity: 0.7;
  letter-spacing: -0.3px;
  color: white;
}
.content .body .buttons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.content .body .buttons .figma {
  display: flex;
  cursor: pointer;
  width: 50%;
  font-family: basis;
  font-size: 16px;
  height: 52px;
  font-weight: 600;
  letter-spacing: -0.6px;
  border-style: none;
  border-radius: 16px;
  background: white;
  box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.22) inset;
  transition: all 0.2s ease-in-out;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.content .body .buttons .figma:hover {
  background: #eaeaea;
  transform: scale(0.98);
}
.content .body .buttons .figma img {
  width: 20px;
  height: 20px;
}
.content .body .buttons .github {
  display: flex;
  cursor: pointer;
  width: 50%;
  font-family: basis;
  font-size: 16px;
  height: 52px;
  font-weight: 600;
  letter-spacing: -0.6px;
  border-style: none;
  border-radius: 16px;
  background: #272727;
  box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.22) inset;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}
.content .body .buttons .github:hover {
  background: #1d1d1d;
  transform: scale(0.98);
}
.content .body .buttons .github img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.content .body .cards {
  display: flex;
  gap: 20px;
}
.content .body .cards .card {
  margin-top: 16px;
  width: 36%;
  display: flex;
  transform-style: preserve-3d;
  perspective: 800px;
  height: 240px;
}
.content .body .cards .card .cardcover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee9ff;
  border-radius: 8px 20px 20px 8px;
  width: 100%;
  padding: 10%;
  transform: rotateY(0deg);
  transform-origin: top left;
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: 0px -4px 8px 0px rgba(122, 122, 122, 0.3) inset;
  filter: drop-shadow(0px 11px 16px rgba(0, 0, 0, 0.08));
}
.content .body .cards .card .cardcover:hover {
  transform: rotateY(-24deg);
}
.content .body .cards .card .cardcover .card-heading {
  color: #312070;
  font-family: basis;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 120%;
}
.content .body .cards .card .cardcover .card-subheading {
  color: #5134b6;
  opacity: 0.5;
  font-family: basis;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 130%;
}
.content .body .cards .card .inside {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 20px;
}
.content .body .cards .card:hover {
  transform: rotate(20deg);
}
.content .body .cards #cardcontainer2 .cardcover {
  background-color: #d4f6f2;
}
.content .body .cards #cardcontainer2 .cardcover .card-heading {
  color: #084c44;
}
.content .body .cards #cardcontainer2 .cardcover .card-subheading {
  color: #0c7266;
}
.content .body .logos {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  opacity: 0.2;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .content {
    max-width: 480px;
  }
  .content .cards .card {
    width: 44% !important;
  }
}
@media (max-width: 720px) {
  .content {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .content {
    max-width: 360px;
  }
  .content .buttons .figma {
    font-size: 14px !important;
  }
  .content .buttons .github {
    font-size: 14px !important;
  }
}
@media (max-width: 400px) {
  .content {
    max-width: 300px;
  }
  .content .cards {
    flex-direction: column;
    gap: 0px;
  }
  .content .cards .card {
    width: 60% !important;
  }
  .content .cards #cardcontainer2 {
    z-index: -1;
    margin-top: -36px !important;
    margin-left: 90px;
    transform: rotate(2deg) !important;
  }
}/*# sourceMappingURL=style.css.map */