@import 'theme';

body {
	//background-color: #02060c;
	background-color: #f15700;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 0px !important;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 40px;

	.bud {
		width: 20%;
		img {
			width: 100%;
		}
		.eyes {
			position: absolute;
			display: flex;
			align-items: center;
			flex-direction: row;
			column-gap: 4px;
			margin-left: 8px;
			margin-top: 78px;
			.eye-outer {
				z-index: 0;
				width: 24px;
				height: 24px;
				background-color: white;
				border-radius: 100px;
				display: flex;
				overflow: hidden;
				.eye {
					width: 18px;
					height: 18px;
					border-radius: 100%;
					margin-left: 5px;
					margin-top: 2px;
					background-color: #000;
					display: flex;
					align-items: center;
					flex-direction: column;

					.pupil {
						width: 6px;
						height: 6px;
						margin-top: 3px;
						margin-right: -9px;
						border-radius: 101px;
						background-color: #fff;
					}
				}
			}

			@keyframes blink {
				0%,
				100% {
					height: 0px;
				}
				5%,
				95% {
					height: 18px;
				}
			}
		}
	}
	.logo {
		width: 50%;
	}
	@media (max-width: 1000px) {
		.bud {
			.eyes {
				margin-top: 74px;
			}
		}
		.logo {
		}
	}
	@media (max-width: 720px) {
		.bud {
			.eyes {
				margin-top: 64px;
				margin-left: 4px;
				column-gap: 2px;
			}
		}
		.logo {
			img {
				width: 70%;
			}
		}
	}
	@media (max-width: 480px) {
		.bud {
			.eyes {
				transform: scale(0.9);
				margin-top: 56px;
			}
		}
		.logo {
			img {
				width: 70%;
			}
		}
	}
	@media (max-width: 400px) {
		.bud {
			width: 25%;
			.eyes {
				transform: scale(0.9);
				margin-top: 56px;
			}
		}
		.logo {
			img {
				width: 70%;
			}
		}
	}
}

.circleblur {
	width: 100vw;
	height: 100vw;
	background: #121212;
	position: absolute;
	top: 0;
	border-radius: 100000000px;
	top: -100vw;
	opacity: 0;
	filter: blur(60px);
}

.headerblur {
	width: 100vw;
	height: 120px;
	background: linear-gradient(180deg, #121212 0%, rgba(241, 87, 0, 0) 100%);
	position: fixed;
	top: 0;
	z-index: 1;
	display: none;
	opacity: 0.8;
}

.enteringPill {
	cursor: pointer;
	margin: auto;
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
	width: min-content;
	margin-top: 44vh;
	border: 2px solid #ffffff41;
	padding: 16px 24px;
	transform-style: preserve-3d;
	transform: perspective(1000);
	z-index: 1000;
	border-radius: 40px;

	&:hover {
		background-color: white;
		transition: all 0.3s ease;
		border: 2px solid #ffffff;
		box-shadow: 0 4px 2px rgba(0, 0, 0, 0.04), 0 8px 4px rgba(0, 0, 0, 0.04), 0 16px 8px rgba(0, 0, 0, 0.04), 0 32px 16px rgba(0, 0, 0, 0.02);
		.logo-text {
			color: #02060c !important;
		}
		.star-l {
			filter: invert(1);
		}
		.star-r {
			filter: invert(1);
		}
	}

	.inner {
		display: flex;
		height: auto;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		gap: 4px;
		transform: translateZ(24px);

		.logo-text {
			color: white;
			font-family: basis;
			font-size: 28px;
			letter-spacing: -1px;
		}
		.star-l {
			transform: scale(0.7);
		}
		.star-r {
			transform: scale(0.7);
		}
	}

	@media (max-width: 470px) {
		padding: 8px 16px;
		gap: 2px;
		.logo-text {
			font-size: 22px !important;
		}
		.star-l {
			transform: scale(0.65) !important;
		}
		.star-r {
			transform: scale(0.65) !important;
		}
		&:hover {
			.logo {
				background-color: none;
				border: 2px solid rgb(35, 35, 35);
			}
			.star-l {
				filter: invert(0);
			}
			.star-r {
				filter: invert(0);
			}
		}
	}
}

.content {
	text-align: left;
	max-width: 500px;
	height: auto;
	margin: 0 auto;
	display: none;
	transform: translateY(-22vh);
	transition: all 0.3s ease-in-out;
	opacity: 0;
	.body {
		margin-bottom: 80px;
		.heading {
			font-family: basis;
			font-size: 16px;
			letter-spacing: -0.3px;
			opacity: 1;
			color: white;
			font-weight: 600;
		}
		.subheading {
			margin-top: 8px;
			font-family: basis;
			font-size: 16px;
			line-height: 160%;
			font-weight: 200;
			opacity: 0.7;
			letter-spacing: -0.3px;
			color: white;
		}
		.buttons {
			display: flex;
			gap: 8px;
			margin-top: 16px;

			.figma {
				display: flex;
				cursor: pointer;
				width: 50%;
				font-family: basis;
				font-size: 16px;
				height: 52px;
				font-weight: 600;
				letter-spacing: -0.6px;
				border-style: none;
				border-radius: 16px;
				background: white;
				box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.22) inset;
				transition: all 0.2s ease-in-out;
				text-align: center;
				align-items: center;
				justify-content: center;
				gap: 4px;
				&:hover {
					background: #eaeaea;
					transform: scale(0.98);
				}
				img {
					width: 20px;
					height: 20px;
				}
			}
			.github {
				display: flex;
				cursor: pointer;
				width: 50%;
				font-family: basis;
				font-size: 16px;
				height: 52px;
				font-weight: 600;
				letter-spacing: -0.6px;
				border-style: none;
				border-radius: 16px;
				background: #272727;
				box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.22) inset;
				color: white;
				text-align: center;
				align-items: center;
				justify-content: center;
				gap: 6px;
				transition: all 0.2s ease-in-out;
				&:hover {
					background: #1d1d1d;
					transform: scale(0.98);
				}
				img {
					width: 20px;
					height: 20px;
					filter: invert(1);
				}
			}
		}
		.cards {
			display: flex;
			gap: 20px;
			.card {
				margin-top: 16px;
				width: 36%;
				display: flex;
				transform-style: preserve-3d;
				perspective: 800px;
				height: 240px;
				.cardcover {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					background-color: #eee9ff;
					border-radius: 8px 20px 20px 8px;
					width: 100%;
					padding: 10%;
					transform: rotateY(0deg);
					transform-origin: top left;
					transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
					box-shadow: 0px -4px 8px 0px rgba(122, 122, 122, 0.3) inset;
					filter: drop-shadow(0px 11px 16px rgba(0, 0, 0, 0.08));

					&:hover {
						transform: rotateY(-24deg);
					}
					.card-heading {
						color: #312070;
						font-family: basis;
						font-size: 18px;
						font-weight: 600;
						letter-spacing: -0.8px;
						line-height: 120%;
					}
					.card-subheading {
						color: #5134b6;
						opacity: 0.5;
						font-family: basis;
						font-size: 12px;
						font-weight: 400;
						letter-spacing: -0.4px;
						line-height: 130%;
					}
				}
				.inside {
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #ffffff;
					border-radius: 20px;
				}
				&:hover {
					transform: rotate(20deg);
				}
			}

			#cardcontainer2 {
				.cardcover {
					background-color: #d4f6f2;

					.card-heading {
						color: #084c44;
					}
					.card-subheading {
						color: #0c7266;
					}
				}
			}
		}
		.logos {
			margin-top: 20px;
			display: flex;
			gap: 20px;
			opacity: 0.2;
			flex-wrap: wrap;
		}
	}

	@media (max-width: 1000px) {
		max-width: 480px;
		.cards {
			.card {
				width: 44% !important;
			}
		}
	}
	@media (max-width: 720px) {
		max-width: 400px;
	}
	@media (max-width: 480px) {
		max-width: 360px;
		.buttons {
			.figma {
				font-size: 14px !important;
			}
			.github {
				font-size: 14px !important;
			}
		}
	}
	@media (max-width: 400px) {
		max-width: 300px;
		.cards {
			flex-direction: column;
			gap: 0px;
			.card {
				width: 60% !important;
			}
			#cardcontainer2 {
				z-index: -1;
				margin-top: -36px !important;
				margin-left: 90px;
				transform: rotate(2deg) !important;
			}
		}
	}
}
