@import 'theme';

body {
	background-color: #02060c;
	margin: 0;
}

.fullWidthLogo {
	img {
		width: 100vw;
	}
}
.description {
	margin-left: 4vw;
	margin-top: -20px;
	display: flex;

	.copy {
		max-height: 66px;
		overflow: hidden;
		width: 32vw;
		font-family: basis;
		font-size: 16px;
		color: gray;
		font-weight: 200;
		line-height: 22px;
		letter-spacing: -0.5px;
		transition: all 0.2s ease-in-out;
	}
	.readMore {
		cursor: pointer;
		outline-style: none;
		border-style: none;
		color: white;
		padding-left: 40px;
		font-family: basis;
		font-size: 16px;
		line-height: 22px;
		align-self: flex-end;
		transform: translateX(-120px);
		background: linear-gradient(270deg, #02060c 60%, rgba(2, 6, 12, 0) 100%);
	}
}

.download-buttons {
	display: flex;
	margin-left: 4vw;
	margin-top: 20px;

	.figma {
		margin-right: 8px;
		font-size: 14px;
		font-family: basis;
		font-weight: 400;
		padding: 16px 44px;
		border-radius: 12px;
		border-style: none;
		cursor: pointer;
		background-color: white;
		background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, rgb(255, 255, 255), rgb(214, 214, 214)) border-box;
		border: 2px solid transparent;
		&:hover {
			transform: scale(0.99);
			transition: all 0.1s ease-in-out;
			background: linear-gradient(#eaeaea, #eaeaea) padding-box, linear-gradient(180deg, #e0e0e0, #e0e0e0) border-box;
		}
	}

	.github {
		font-size: 14px;
		font-family: basis;
		font-weight: 400;
		padding: 16px 44px;
		border-radius: 12px;
		border-style: none;
		cursor: pointer;
		background-color: #333333;
		color: white;
		&:hover {
			background-color: #1f1f1f;
			transform: translateY(-1px);
			transition: all 0.1s ease-in-out;
		}
	}
}
