@import 'theme';

body {
	background-color: #02060c;
	//background-color: #f15700;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.circleblur {
	width: 100vw;
	height: 100vw;
	background: #f15700;
	position: absolute;
	top: 0;
	border-radius: 100000000px;
	top: -100vw;
	opacity: 0;
	filter: blur(60px);
}

.headerblur {
	width: 100vw;
	height: 120px;
	background: linear-gradient(180deg, #f15700 0%, rgba(241, 87, 0, 0) 100%);
	position: fixed;
	top: 0;
	z-index: 1;
	display: none;
	opacity: 0.8;
}

.enteringPill {
	cursor: pointer;
	margin: auto;
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
	width: min-content;
	margin-top: 44vh;
	border: 2px solid rgb(35, 35, 35);
	padding: 16px 24px;
	border-radius: 40px;
	transform-style: preserve-3d;
	transform: perspective(1000);
	z-index: 1000;
	&:hover {
		background-color: white;
		transition: all 0.3s ease;
		.logo-text {
			color: #02060c !important;
		}
		.star-l {
			filter: invert(1);
		}
		.star-r {
			filter: invert(1);
		}
	}

	.inner {
		display: flex;
		height: auto;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		gap: 4px;
		transform: translateZ(12px);

		.logo-text {
			color: white;
			font-family: basis;
			font-size: 28px;
			letter-spacing: -1px;
		}
		.star-l {
			transform: scale(0.7);
		}
		.star-r {
			transform: scale(0.7);
		}
	}

	@media (max-width: 470px) {
		padding: 8px 16px;
		gap: 2px;
		.logo-text {
			font-size: 22px !important;
		}
		.star-l {
			transform: scale(0.65) !important;
		}
		.star-r {
			transform: scale(0.65) !important;
		}
		&:hover {
			.logo {
				background-color: none;
				border: 2px solid rgb(35, 35, 35);
			}
			.star-l {
				filter: invert(0);
			}
			.star-r {
				filter: invert(0);
			}
		}
	}
}

.content {
	text-align: left;
	width: 32vw;
	height: auto;
	margin: 0 auto;
	//display: block;
	display: none;
	transform: translateY(-27vh);
	transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	opacity: 0;
	//opacity: 1;
	.body {
		margin-bottom: 32px;
		.heading {
			font-family: basis;
			font-size: 20px;
			letter-spacing: -0.7px;
			opacity: 1;
			color: white;
			font-weight: 600;
		}
		.subheading {
			margin-top: 8px;
			font-family: basis;
			font-size: 18px;
			line-height: 24px;
			font-weight: 200;
			opacity: 0.8;
			letter-spacing: -0.7px;
			color: white;
		}
		.buttons {
			display: flex;
			gap: 8px;
			margin-top: 16px;

			.figma {
				display: flex;
				cursor: pointer;
				width: 50%;
				font-family: basis;
				font-size: 16px;
				height: 48px;
				font-weight: 600;
				letter-spacing: -0.6px;
				border-style: none;
				border-radius: 12px;
				background: white;
				transition: all 0.2s ease-in-out;
				text-align: center;
				align-items: center;
				justify-content: center;
				gap: 4px;
				&:hover {
					background: #f4f4f4;
					transform: scale(0.98);
				}
				img {
					width: 20px;
					height: 20px;
				}
			}
			.github {
				display: flex;
				cursor: pointer;
				width: 50%;
				font-family: basis;
				font-size: 16px;
				height: 48px;
				font-weight: 600;
				letter-spacing: -0.6px;
				border-style: none;
				border-radius: 12px;
				background: black;
				color: white;
				text-align: center;
				align-items: center;
				justify-content: center;
				gap: 6px;
				transition: all 0.2s ease-in-out;
				&:hover {
					background: #1c1c1c;
					transform: scale(0.98);
				}
				img {
					width: 20px;
					height: 20px;
					filter: invert(1);
				}
			}
		}
	}

	@media (max-width: 470px) {
		width: 70vw;
		.heading {
			font-size: 18px !important;
		}
		.subheading {
			font-size: 16px !important;
			line-height: 21px !important;
		}
	}
}
