@font-face {
	src: url(/resources/font/BasisGrotesqueArabicPro-Regular.ttf);
	font-family: basis;
	font-weight: 200;
}

@font-face {
	src: url(/resources/font/BasisGrotesqueArabicPro-Medium.ttf);
	font-family: basis;
	font-weight: 400;
}
@font-face {
	src: url(/resources/font/BasisGrotesqueArabicPro-Bold.ttf);
	font-family: basis;
	font-weight: 600;
}
@font-face {
	src: url(/resources/font/BasisGrotesqueArabicPro-Black.ttf);
	font-family: basis;
	font-weight: 800;
}
